body {
}

#sidebarMenu {
  background-color: #212429;
}

#navBar {
  background-color: #212429;
}

#openSidebar {
  float: left;
  background-color: #212429;
  color: #ffffff;
}

#title {
  margin-top: 2px;
}

.ui.container {
  margin-top: 50px;
}